:root {
    --topheadheight: 60px;
    --white: #ffffff;
}


body {
    overflow-wrap:break-word;
    margin: 0px;
    min-height: 100%;
    font-family: Futura;
    /*    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif*/ 
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.wrap {
    position: absolute;
    width: 100%;
    overflow-x:clip;
 
    display:flex;
    flex-direction:column;
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

.topheader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    height: var(--topheadheight);
    background-color: whitesmoke;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3); /* Syntax: horizontal-offset vertical-offset blur spread color */
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.topbuttonwrap {
    height: 100%;
    display: flex;
    align-items:center;
    margin-left:auto;
    margin-right:20px;
}

.topbutton {
    background-color: transparent;
    padding: 7px;
    grid-row-start: 1;
    margin: 10px;
    height: auto;
    border-radius: 5px;
    align-content: center;
    text-decoration-line: none;
    color: slategray;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.toptext {
    margin: 0px;
}

.titletext {
    font-family: Work Sans, sans-serif;
    width: fit-content;
    text-decoration-line: none;
    color: black;
    font-weight: 400;
    font-size: 25px;
    margin-left:20px;
}

.main {
    margin-top: var(--topheadheight);
    min-height: 100%;
    width:100%;
}

.banner {
    width: 100%;
    height: 250px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannertext {
    font-family: Work Sans, sans-serif;
    font-size: 50px;
    color: lightgray;
    text-align: center;
    margin-block:0px;
}

.submenu{
    margin-left:20px;
    margin-right:20px;
    margin-top:30px;
    margin-bottom:0px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
    max-width:100vw;
    
}

.subbutton{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:150px;
    text-align:center;
    color:darkgray;

 /*   background-color:grey;*/
    padding:20px;
}
.subbutton:hover:not(.subactive){
  /*  background-color:lightgray;*/
    font-weight:bold;
    cursor: pointer;
}
.subactive {
    /* background-color:gray;*/
    color: black;
  
    
}

.content {
    display: flex;
    justify-content: center;
    /*    background-color:blue;
*/ min-height: 100px;
    padding-left: calc(5px + 10vw);
    padding-right: calc(5px + 10vw);
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top:0px;
}

.procontainer {
    margin:20px;
    background-color: whitesmoke;
    /*    width:80%;*/
    padding: 30px;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: minmax(50px, 100px) fit-content(800px);
    row-gap: 5px;
  /*  grid-template-rows: repeat(3, 1fr auto);*/
}
.gamecircle {
    margin: 10px;
    background-color: lightgray;

    aspect-ratio: 1;
    width: 80%;
    height: 0;
    padding-bottom:80%;
    border-radius: 50%;
    border: 0px solid;
    box-sizing: border-box;
    grid-column: 1;
}
.gameimg {
    /*   mask-image:radial-gradient(circle, black 50%, white 50%);*/
    width:100%;
    

   

}
.gametitle {
    font-size: 1.4em;
    margin-bottom: .3em;
    color: #303030
}
.gameinfo {
    grid-column:2;
    color:slategray;
    justify-self:left;
    margin-left:15px;
    margin-right:15px;
}

.gallerygrid {
    padding: 20px;
/*    width:80%;*/
    display: flex;
    flex-wrap:wrap;
    gap:50px;
    align-items: center;
    justify-content: space-evenly;
}

.genrect {
    width: 300px;
    height: 400px;
    background-color: transparent;
    text-decoration-line: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.posttitle {
    margin:10px;
    font-family: Work Sans, sans-serif;
    font-size: 1.2em;
    color: black;
  
}

.thumb {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.thumb:hover{
    opacity:90%;
}

.noselect {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
}
@media only screen and (max-width:700px) {

    
}

@media only screen and (max-width:600px) {

    .TopHeader {
        height: 100px;
    }
    .genrect {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width:350px) {

    .submenu {
        gap:5px;
        font-size:0.8em;
    }
}
