body {
    margin: 0px;
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

.TopHeader
{
    position: fixed;
    width:100%;
    top:0;
    left: 0;
    z-index: 4;
    height: 50px;
    background-color: aqua;
}

.TitleText{
    font-family:Work Sans, sans-serif;
    width:fit-content;
    text-decoration-line:none;
    color: black;
    font-weight: 400;
    font-size:25px;
}

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@media only screen and (max-width:600px){

    .TopHeader{height:100px;}
    
    }