body {
    margin: 0px;
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

.TopHeader
{
    position: fixed;
    width:100%;
    top:0;
    left: 0;
    z-index: 4;
    height: 50px;
    background-color: aqua;
}

@media only screen and (max-width:600px){

    .TopHeader{height:100px;}
    
    }